html{
	background-color: aquamarine;
}

body {
	width: 1600px;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: azure;
	margin: auto;
}

header 
{
	background-image: url(lean.jpg);
	background-size: contain;
	text-shadow: 5px 5px black;
	background-repeat:round;
	color: #f8fbfc;
	padding: 20px;
	width: 500px;
	text-align: center;
	margin: auto;
	margin-top: 20PX;
	border: solid 2px black;
	border-radius: 30% 30% 30% 30%;
	animation-name: bird;
	animation-duration: 20s;
}
@keyframes  bird {
    from{
        background-color: orange;
    }
    25%{
        background-color: blue;
        width: 75%
    }
    50%{
        background-color: purple;
        width: 50%
    }
    75%{
        background-color: red;
        width: 75%;
    }
    to{
        background-color: orange;
    }
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	margin: 20px;
}

section {
	margin-bottom: 20px;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li h3 {
	margin-top: 0;
}

li p {
	margin-bottom: 0;
}

@media print {
	nav {
		display: none;
	}
}
img
{
	border-radius: 65% 65% 65% 65%;
	margin: auto;
}