/* stylesFont.css */
@font-face {
    font-family: 'Marianne';
    src: url('font_marianne_web/Marianne-Regular.woff2') format('woff2'),
         url('font_marianne_web/Marianne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    text-align: center;
    margin: 0;
    display: grid;
    grid-template-rows: 1FR 1FR 1FR 1FR;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 45px;
    font-family: 'Marianne';
    background-color: rgb(255, 255, 255);
    color: #006982;
}


.loader-container img{
    width: 400px;
    max-width: 400px;
}

.loader-container {
    text-align: center;
}