* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
  }

/* stylesFont.css */
@font-face {
    font-family: 'Marianne';
    src: url('font_marianne_web/Marianne-Regular.woff2') format('woff2'),
         url('font_marianne_web/Marianne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Marianne';
    background-color: rgb(255, 255, 255);
    height: 100%;
} 

.entete {
    display: grid;
    grid-template-columns: auto 1.5FR 1fr;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    background: rgb(250, 250, 251);
    box-shadow: 3px 3px 6px rgba(123, 122, 122, 0.825);
    font-family: 'Marianne', sans-serif;
    z-index: 3;
    padding-left: 20px;
}
.animation-entete{
    font-size: 150%;
    margin: 0 auto;
    color: #006982;
}

.logo-greta-region-entete{
    width: 80%;
}

.titre-container {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;

}

.titre-container img {
    width: 250px;
}

.titre {
    font-size: 55px;
    color: #a6ba1f;
    font-weight: bold;
}

.sous-titre {
    display: flex;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    font-size: 100%;
    color: #036a717f;
}
.titre-site {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    width: fit-content;
    padding: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: rgb(242, 238, 238);
    height: fit-content;
    text-align: center;
    background: url(fond-mur-texture-beton.webp);
    background-size:contain;
    background-attachment: fixed;
    border-radius: 100px;
    color: white;
    box-shadow: 0px 6px 6px gray; /* Paramètres de l'ombre : x-offset, y-offset, flou, couleur */
    text-shadow: 3px 3px 3px rgba(245, 245, 245, 0.524);
    border: 6px solid  #266b86;
  }
   

.menu {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    font-size: 130%;
    font-weight: bold;
    color: #266b86;
    background-color: rgba(255, 255, 255, 0.345); /* Fond transparent pour voir l'ombre de l'entête */
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 12px;
    backdrop-filter: blur(8px);
}

.menu a{
    padding: 10px;
    border-radius: 50px;
    }

.menu a:hover{
 padding: 10px;
 transform: scale(1.1);
 transition: 0.4s;
 color: #a6ba1f;
 background-color:#266b86;
 font-weight: 700;
}
@media only screen and (max-width: 1010px) {
    .menu {
      flex-direction: column;
      align-items: center;
    }
  
    .menu a {
      margin-top: 10px; /* Ajoute un espace entre les liens dans le menu */
    }
    .menu a:hover{
         transform: scale(1.1);
         transition: 0.4s;
         color: #a6ba1f;
         background-color: #006982;
        }
  }


.section{
 display: grid;   
 grid-template-rows: auto 1FR;
 justify-content: center;
 align-items: center;
 height: auto;
 padding: 30PX;
 width: 100%;
 background: url(hexagon-background.png) ;
 /*filter: grayscale(30%); /* Ajoute un filtre de niveau de gris de 50%, ajustez selon vos préférences */
 background-size: cover;
 background-color: rgba(121, 180, 204, 0.185);
 background-repeat: no-repeat;
 background-attachment: fixed;
 font-size: 38PX;
 text-align: center;
 color: rgba(22, 63, 227, 0.717);
 font-weight: bold;
 overflow: hidden;
 position: relative;
 text-shadow: 3px 1px 3px rgba(0, 0, 0, 0.776);
}



.mmm{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    background: url(fond-mur-texture-beton.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 3px 3px 12px 6px rgba(99, 99, 251, 0.756);

}
.card-formation{
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    justify-content: center;
    font-size: 75%;
    width: 90%;
    height: auto;
    border-radius: 20PX;
    background-color: rgba(240, 248, 255, 0.43);
    margin: 0 auto;
    padding: 0 12px 30px 12px;
    box-shadow: -1px -1px 37px 4px #393838;
}
.card-formation img{
    margin: 0 auto;
    width: 90%;
    border-radius: 20px;
}
.titre-card-formation{
    width: 100%;
    height: 100%;
    padding: 16px;
}

iframe{
    border-radius: 10PX;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Ajoute une ombre légère */
    width:840px; 
    height:460px;
    margin-top: 22px;
    z-index: 3;
}

.navivation-boat {
    height: 150px;
    padding: 24px;
    position: relative;
    left: 0;
    overflow: hidden;
    width: 100%; /* Ajustez la largeur selon vos besoins */
    margin: 0 auto;

}

.navivation-boat img {
    width: 400px;
    position: absolute;
    animation: slide 25s linear infinite;
}


@keyframes slide {
    0%{transform: translateX(0%) translateY(5px) rotate(3deg);}
    5%{transform: translateX(100%) translateY(10px) rotate(-3deg);}
    10% {transform: translateX(200%) translateY(5px) rotate(-3deg);}
    15% {transform: translateX(300%) translateY(10px) rotate(3deg);}
    20% {transform: translateX(400%) translateY(5px) rotate(-3deg);}
    25% {transform: translateX(500%) translateY(10px) rotate(3deg);}
    30% {transform: translateX(600%) translateY(5px) rotate(-3deg);}
    35% {transform: translateX(700%) translateY(10px) rotate(3deg);}
    40% {transform: translateX(800%) translateY(5px) rotate(-3deg);}
    45% {transform: translateX(900%) translateY(10px) rotate(3deg);}
    50% {transform: translateX(1000%) translateY(5px) rotate(-3deg);}
    55%{transform: translateX(1100%) translateY(10px) rotate(3deg);}
    60%{transform: translateX(1200%) translateY(5px) rotate(-3deg);}
    65% {transform: translateX(1300%) translateY(10px) rotate(-3deg);}
    70% {transform: translateX(1400%) translateY(5px) rotate(3deg);}
    75% {transform: translateX(1500%) translateY(10px) rotate(-3deg);}
    80% {transform: translateX(1600%) translateY(5px) rotate(3deg);}
    85% {transform: translateX(1700%) translateY(10px) rotate(-3deg);}
    90% {transform: translateX(1800%) translateY(5px) rotate(3deg);}
    95% {transform: translateX(1900%) translateY(10px) rotate(-3deg);}
    100% {transform: translateX(2000%) translateY(5px) rotate(3deg);}
}

.titre-section{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    color: white;
    font-size: 46px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0068826c;
    padding: 14px;
    border-radius: 50px;
}


.card-container{
    text-align: center;
    width: 100%;
    background: url(summer_background.webp);
    background-size: cover;
    padding-top: 20px;
}
.card-content{ 
    width: 85%;
    padding:30px;
    background:url(fon-eau.png);
    opacity: 0.8;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: auto;
    margin-right:auto ;
    margin-bottom: 30px;
    align-items: center;
    box-shadow: -1px -1px 37px 4px #415d958c;
    border-radius: 0px 20px 0px 20pxpx;

}
.card-content img{
    width: 90%;
    height: 90%;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: -1px -1px 37px 4px #415d958c;
}
.card {
    display: grid;
    grid-template-rows: auto repeat(auto-fill, 1fr);
    width: fit-content;
    height: auto;
    background-color: rgba(7, 48, 88, 0.679);
    border-radius: 15px;
    box-shadow: -1px -1px 37px 4px #393838a6;
    background-color: rgba(255, 255, 255, 0.611);
    margin-left: auto;
    margin-right: auto;

    resize: both;
    z-index: 1;
    border: 2px ridge #266b86;
}

@media screen and (max-width: 900px) {
    /* Ajustez les styles pour les écrans de 600 pixels de largeur ou moins */
    .card {
        width: 90%; /* Par exemple, ajustez la largeur pour s'adapter à l'écran étroit */
        margin: 10px auto; /* Centrez la carte avec une petite marge */
        font-size: 60%;
    }
}



.card:hover, .etape .card:hover {
    transform: scale(1.45) !important;
    transition: 1.3s;
    margin: 0 auto;
    z-index: 2;
}
.start .card:hover .titre-card-parcours, .etape .card:hover .titre-card-parcours {
    background-color: #020d5f;
    z-index: 2;
}


.start{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
}
.start .card{
    min-width: 230px;
}
.titre-card-parcours{
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-radius: 15px 15px 0px 0px;
    padding: 12px;
    width: 100%;
    height: fit-content;
    background-color: #024c5f;
    font-size: 140%;
    font-weight: bolder;
    color: whitesmoke;
}
.sous-titre-card{
    font-size: 90%;
}
.card-element{
    padding: 6px;
    font-size: 100%;
}
.etape{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    grid-template-columns: 1fr 1fr;
}


footer{
    display: flex;
    width: 100%;
    background-color: rgba(128, 139, 156, 0.495);
    height: 120px;
    position: relative;
    bottom: 0;
    justify-content: space-around;
    align-items: center;
    color: #1f22bab6;
}
footer a:hover{
    color: #1f98bab6;
}

form{
    display: grid ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    margin: 0 auto;
    background-color: rgba(127, 229, 255, 0.415);
    padding: 20px;
    border: 3px solid white;
    border-radius: 15px;
    box-shadow: -1px -1px 37px 4px #393838d6;
    
}
.titre-form{
    margin: 0;
    width: 100%;
    height: 100%;
    color: #266b86;
}
.titre-form input:active{
    border: #266b86;
}
input{
    padding:  6px !important;
    font-size: 22px !important;
    font-weight: bold;
    border-radius: 15px;
    height: 80%;
    width: 80%;
    color: #006982 !important;
}
#start-test{
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    padding: 12px;
    border-radius: 50px;
    background-color: #a6ba1f;
}

.scrolling-text-container {
    display: flex;
    padding-bottom:6px ;
    overflow: hidden;
    white-space: nowrap;
    background: #006982;
    border-top:12px ridge #a6ba1f;
    border-bottom:12px ridge #a6ba1f;
    position: relative;
    text-shadow: 2px 2px 2px rgba(66, 66, 66, 0.869);


  }

.scrolling-text {
display: inline-block;
animation: scrollText 120s linear infinite;
font-size: 36px;
color: beige;
}

.scrolling-text strong{
    color: #a6ba1f;
}

  @keyframes scrollText {
    0% {
      transform: translateX(10%);
    }
    100% {
      transform: translateX(-100%);
    }

  }


.defilement-cloud{
    display: grid;
    grid-template-rows: auto;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    overflow:hidden;
    height:auto;
}
  .cloud {
    width: 120px;
    position: relative;
    left: -50px;
    top: 15px;
    animation: slide 200s linear infinite;
    margin-bottom: 20px;

  }

  .cloud1 {
    width: 90px;
    position: relative;
    animation: slide 170s linear infinite;
    left: -150px;
  }
  .cloud3 {
    width: 110px;
    position: relative;
    animation: slide 140s linear infinite ;
    animation-delay: 6s;
    top: 15px;
    left: -80px;
    
}
  
.cloud4 {
    width: 120px;
    position: relative;
    animation: slide 180s linear infinite ;
    animation-delay: 2s;
    left: -100px;
    top: 25px;
    margin-bottom: 10px;
}
.cloud5 {
    width: 100px;
    position: relative;
    animation: slide 130s linear infinite ;
    animation-delay: 0s;
    left: -100px;

}