body{
    background:url(hexagon-background.png);
    background-color: rgba(91, 165, 234, 0.558);
}
.validation-participation{
    width: fit-content;
    height: fit-content;
    color: #2d2d2d;
    margin: 50px;
    font-size: 36px;
    padding: 28px;
    text-align: center;   
    box-shadow: -1px -1px 37px 4px #393838;
    border-radius: 20px;
}