
/* INITIALISATION PARAMETRE NAVIGATEUR*/
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html
{
    overflow-x: hidden;
}
html, body {
    height: 90%;
    
}


body {
    font-family:  Helvetica, sans-serif;
    background-image: url(bureau.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
    
}

/* GESTION DE L ANIMATION DE TEXTE */

.container { 
    margin: 0 180PX;
    padding-top: 50px;
    width: 600px;
    height: 600px;
}
p.name {
    
    color: #f1ebeb;
    font-weight: 900;
    color: transparent;
    font-size: 0px;
    padding-top: 0px;
    
}
p span {
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: clamp(100px, 10vw, 100px);
}
p span::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
   
}
p:nth-child(1) {
    font-weight: 600;
    animation: txt-appearance 1s 1.3s forwards;
}
p:nth-child(2) {
    animation: txt-appearance 1s 1.95s forwards;
}
p:nth-child(1) span::after {
    
    background: rgba(218, 214, 9, 0.966);
    animation:  slide-in 1.5s ease-out forwards,
                slide-out 1.7s 1s ease-out forwards;
                
}
p:nth-child(2) span::after {
    background: royalblue;
    animation: slide-in 1.9s 1s ease-out forwards,
    slide-out 1.9s 1.2s ease-out forwards;
}

@keyframes slide-in {
    100% {
        transform: translateX(0%);
    }
}
@keyframes slide-out {
    100% {
        transform: translateX(100%)
    }
}
@keyframes txt-appearance {
    100% {
        color: #44a3f16e;
        text-shadow: 5PX 3PX rgba(13, 13, 14, 0.644);
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
    }
}
/* ---------------------------------------------------------*/




/* ------------------------------------------------------ */

/* Gestion photo */
.maphoto img 
{
    
    width: 300PX;
    height:300PX;
    border-radius: 20%;
    padding: 10px;
    padding-top: 40PX;
    margin-left: 500px;
   
}



.grid1
{
    display: grid;
    width: 1600PX;
    height: 10px;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 300PX;
    margin: 10PX ;   
}

header .grid1
{
    margin: 10px;
    
    
}

.titre
{
    margin-top: 400PX;
    margin-left: 220PX;
    display: grid;
    width: 1300PX;
    max-width: 1300PX;
    min-width: 1000PX;
    grid-template-columns: 1fr;
    text-align: center;
    font-size: 60px;
    color: #44a3f16e;
    font-family:Brush Script MT, Brush Script Std, cursive,
     American Typewriter, serif, Helvetica, sans-serif;
}
/* Gestion du titre */
.titre h1
{
    text-align: center;
    text-shadow: 5PX 3PX rgba(13, 13, 14, 0.644);
}

/* Gestion de la list */
.liste1 ul
{
    width: 1000PX;
    text-align: center;
    margin-left: 370PX;
    margin-top: 20PX;
}

.liste1 li
{
    display: inline-block;
    padding: 20PX;
    text-shadow: 5PX 2PX rgba(66, 65, 65, 0.795);
    font-size: 50PX;
    line-height: 30px;
}
.liste1 ul :hover 
{
    color:#f1ebeb;
}

.present div
{
    text-align: center;
    line-height: 50PX;
    margin-top: 40px;
    color:rgb(6, 37, 105);
    padding-left: 120PX;
    width: 1400PX;
    font-size: 40PX;
    font-weight: bold;
     
}

.park
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
    width: 1700px;
    margin: auto;
    margin-top: 50px;
    padding: auto;
    font-size: 40px;
    
}

.park a
{
    display: inline-block;
    text-align: center;
    border: 3px solid rgba(7, 59, 117, 0.788);
    box-shadow: 5PX 3PX rgba(20, 75, 177, 0.514);
    padding-top: 23px;
    border-radius: 10px;
    width: 390px;
    font-weight: bold;
}

.park :hover
{
    color: rgb(245, 252, 249);
    background: rgba(9, 83, 133, 0.541);
}
 a
 {
    text-decoration: none;
    
    
    color: rgba(20, 49, 180, 0.842);
 }

 



