

body {
    text-align: center;
    margin: 0;
    display: grid;
    grid-template-rows: 1FR 1FR 1FR 1FR;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 45px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: rgba(204, 204, 204, 0.459);
    color: #006982;
    text-shadow: 3px 3px 3px;
}


.loader-container img{
    width: 400px;
    max-width: 400px;
}

.loader-container {
    text-align: center;
}