* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

/* stylesFont.css */
@font-face {
    font-family: 'Marianne';
    src: url('/font_marianne_web/Marianne-Regular.woff2') format('woff2'),
         url('/font_marianne_web/Marianne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html{
    height: fit-content;
}
body {
    font-family: 'Marianne';
    background-color: rgb(255, 255, 255);
    height: 100%;

    margin: 0;
    display: flex;
    flex-direction: column;
} 

.entete {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    background: rgb(250, 250, 251);
    box-shadow: 3px 3px 6px rgba(123, 122, 122, 0.825);
    font-family: 'Marianne', sans-serif;
    z-index: 3;
    padding-left: 20px;
}
.typed{
    font-size: 0.5vh;
}
.entete img{
    width: 90%;
}

.animation-entete {
    
    margin: 0 auto;
    color: #006982;
}

.logo-greta-region-entete {
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
}

.titre-container {
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 600px; 
    padding: 10px;
}

.titre-container img {
    width: 100%;
    max-width: 251px; /* Set a maximum width for better responsiveness */
}

.titre {
    font-size: 4.2vw; 
    color: #a6ba1f;
    font-weight: bold;
}

.sous-titre {
    text-align: center;
    font-size: 1.5vw; /* Responsive font size */
    color: #036a717f;
    margin-top: 10px; /* Add spacing between title and subtitle */
}



.titre-site {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    width: 80%;
    max-width: 800px; 
    padding: 18px;
    margin: 12px auto; 
    background-color: rgb(242, 238, 238);
    height: fit-content;
    text-align: center;
    background: url(../assets/fond-mur-texture-beton.webp);
    background-size: contain;
    background-attachment: fixed;
    border-radius: 100px;
    color: white;
    box-shadow: 0px 6px 6px gray; 
    text-shadow: 3px 3px 3px rgba(245, 245, 245, 0.524);
    border: 6px solid #266b86;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-content:center;
    font-size: 2vw; 
    font-weight: bold;
    color: #266b86;
    background-color: rgba(255, 255, 255, 0);
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 12px;
    backdrop-filter: blur(8px);
}

.menu a {
    padding: 10px;
    border-radius: 50px;
    width: fit-content;
    margin: 0 auto;
}

.menu a:hover {
    padding: 10px;
    transform: scale(1.1);
    transition: 0.4s;
    color: #a6ba1f;
    background-color: #266b86;
    font-weight: 700;
}

@media only screen and (max-width: 1010px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu a {
        margin-top: 10px; 
    }

    .menu a:hover {
        transform: scale(1.1);
        transition: 0.4s;
        color: #a6ba1f;
        background-color: #006982;
    }
}



.section {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 3vw; /* Responsive padding */
    width: auto;
    background: url(../assets/hexagon-background.png);
    background-size: cover;
    background-color: rgba(121, 180, 204, 0.185);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 3.8vw;
    text-align: center;
    color: rgba(22, 63, 227, 0.717);
    font-weight: bold;
    overflow: hidden;
    text-shadow: 0.3vw 0.1vw 0.3vw rgba(0, 0, 0, 0.776);
}

.section .video-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 50.25%; /* 16:9 Aspect Ratio (9 / 16 * 100) */
}

.section iframe {
    border-radius: 2vw; /* Responsive border radius */
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.3); /* Responsive box shadow */
    width: 80%; /* Responsive width */
    height: 80%; /* Responsive height */
    position: absolute;
    top: 0;
    z-index: 3;
    margin-top: 5%;
}


@media only screen and (max-width: 600px) {
    
    .section {
        padding: 5vw;
        font-size: 5vw;
        text-shadow: 0.5vw 0.2vw 0.5vw rgba(0, 0, 0, 0.776);
    }
}




.mmm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    background: url(../assets/fond-mur-texture-beton.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0.3vw 0.3vw 1.2vw 0.6vw rgba(99, 99, 251, 0.756); /* Responsive box shadow */
}

@media only screen and (max-width: 900px) {
    .mmm {
        box-shadow: 0.6vw 0.6vw 2.4vw 1.2vw rgba(99, 99, 251, 0.756);
    }
}

.card-formation {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    justify-content: center;
    font-size: 75%;
    width: 90%;
    height: auto;
    border-radius: 5vw; /* Responsive border radius */
    background-color: rgba(240, 248, 255, 0.43);
    margin: 0 auto;
    padding: 0 2vw 3vw 2vw; /* Responsive padding */
    box-shadow: -0.3vw -0.3vw 1vw 0.1vw #393838; /* Responsive box shadow */
}

.card-formation img {
    margin: 0 auto;
    width: 90%;
    border-radius: 5vw; /* Responsive border radius */
}

.titre-card-formation {
    width: 100%;
    height: 100%;
    padding: 2vw; /* Responsive padding */
}
.navivation-boat {
    height: 150px;
    padding:23px;
    position: relative;
    left: 0;
    overflow: hidden;
    width: 100%; /* Ajustez la largeur selon vos besoins */
    margin: 0 auto;

}

.navivation-boat img {
    width: 400px;
    position: absolute;
    animation: slide 25s linear infinite;
}


@keyframes slide {
    0%{transform: translateX(0%) translateY(5px) rotate(3deg);}
    5%{transform: translateX(100%) translateY(10px) rotate(-3deg);}
    10% {transform: translateX(200%) translateY(5px) rotate(-3deg);}
    15% {transform: translateX(300%) translateY(10px) rotate(3deg);}
    20% {transform: translateX(400%) translateY(5px) rotate(-3deg);}
    25% {transform: translateX(500%) translateY(10px) rotate(3deg);}
    30% {transform: translateX(600%) translateY(5px) rotate(-3deg);}
    35% {transform: translateX(700%) translateY(10px) rotate(3deg);}
    40% {transform: translateX(800%) translateY(5px) rotate(-3deg);}
    45% {transform: translateX(900%) translateY(10px) rotate(3deg);}
    50% {transform: translateX(1000%) translateY(5px) rotate(-3deg);}
    55%{transform: translateX(1100%) translateY(10px) rotate(3deg);}
    60%{transform: translateX(1200%) translateY(5px) rotate(-3deg);}
    65% {transform: translateX(1300%) translateY(10px) rotate(-3deg);}
    70% {transform: translateX(1400%) translateY(5px) rotate(3deg);}
    75% {transform: translateX(1500%) translateY(10px) rotate(-3deg);}
    80% {transform: translateX(1600%) translateY(5px) rotate(3deg);}
    85% {transform: translateX(1700%) translateY(10px) rotate(-3deg);}
    90% {transform: translateX(1800%) translateY(5px) rotate(3deg);}
    95% {transform: translateX(1900%) translateY(10px) rotate(-3deg);}
    100% {transform: translateX(2000%) translateY(5px) rotate(3deg);}
}

.titre-section {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    color: white;
    font-size: 4vw; /* Responsive font size */
    width: 70%; /* Responsive width */
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0068826c;
    padding: 2vw; /* Responsive padding */
    border-radius: 5vw; /* Responsive border radius */
}

@media screen and (max-width: 600px) {
    .titre-section {
        font-size: 6vw;
    }
}



.card-container {
    text-align: center;
    width: 100%;
    background: url(../assets/summer_background.webp);
    background-size: cover;
    padding-top: 2vw; /* Responsive padding */
}

.card-content {
    width: 85%;
    padding-bottom: 2vw; /* Responsive padding */
    background: url(../assets/fon-eau.png);
    opacity: 0.8;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vw; /* Responsive margin */
    box-shadow: -1px -1px 2vw rgba(65, 93, 149, 0.8); /* Responsive box shadow */
    border-radius: 2px 0vw 0px 0vw; /* Responsive border radius */
}

.card-content img {
    width: 90%;
    height: 90%;
    margin-bottom: 2vw; /* Responsive margin */
    border-radius: 2vw; /* Responsive border radius */
    box-shadow: -1px -1px 2vw rgba(65, 93, 149, 0.8); /* Responsive box shadow */
}

.card {
    display: grid;
    grid-template-rows: auto repeat(auto-fill, 1fr);
    width: 70%; /* Responsive width */
    height: auto;
    background-color: rgba(7, 48, 88, 0.679);
    border-radius: 2vw; /* Responsive border radius */
    box-shadow: -1px -1px 2vw rgba(57, 56, 56, 0.65); /* Responsive box shadow */
    background-color: rgba(255, 255, 255, 0.611);
    margin: 2vw auto; /* Responsive margin */
    resize: both;
    z-index: 1;
    border: 2px ridge #266b86;
    font-size: 1.7vw; /* Responsive font size */
}

@media screen and (max-width: 900px) {
    .card {
        font-size: 1.7vw; /* Adjust font size for smaller screens */
    }
}

.start {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Responsive grid */
    gap: 1vw; /* Responsive gap between columns */

    height: 80%;
}
@media screen and (max-width: 900px) {
    .start {

        justify-content: center;
    }
    .start-right
    {
        width: auto;
    }
    .start-left{
        width: auto;
    }
}



.start .card {
    width: 60%; 
    margin-bottom: 10px; 
}
@media screen and (max-width: 900px) {

}

.card:hover .titre-card-parcours {
    background-color: #020d5f;
}
.card:hover {
    transform: scale(1.3) !important;
    transition: 1.3s;
    margin: 0 auto;
    z-index: 2;
}



.titre-card-parcours {
    display: grid;
    grid-template-rows: auto auto;
    border-radius: 2vw 2vw 0 0;
    padding: 12px;
    width: 100%;
    height: fit-content;
    background-color: #024c5f;
    font-size: 140%;
    font-weight: bolder;
    color: whitesmoke;
}

.sous-titre-card {
    font-size: 90%;
}

.card-element {
    width: 100%;
    padding: 6px;
    font-size: 1.3vw;
}

.card-element span {
    color: #1f27ba;
    font-weight: bolder;
}

.sous-titre-card-parcours {
    font-size: 60%;
    font-weight: bold;
    color: greenyellow;
}

.etape {
    width: 100%;
    height: fit-content;
    display: grid;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
    grid-template-columns: 1fr 1fr;
}


/* Pied de page */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    background-color: rgba(128, 139, 156, 0.495);
    height: 120px;
    bottom: 0;
    justify-content: space-around;
    align-items: center;
    color: #1f22bab6;
    flex-wrap: wrap; 
    position: relative;
    margin-top: 20px;
}

footer a:hover {
    color: #1f98bab6;
}


form {
    display: grid;
    grid-template-rows: repeat(5, 1fr); 
    justify-content: space-around;
    margin: 0 auto;
    background-color: rgba(127, 229, 255, 0.415);
    padding: 20px;
    border: 3px solid white;
    border-radius: 15px;
    box-shadow: -1px -1px 37px 4px #393838d6;
}

.titre-form {
    margin: 0;
    width: 100%;
    color: #266b86;
}

.titre-form input:active {
    border: 3px solid #266b86;
}

input {
    padding: 10px;
    font-size: 18px; 
    font-weight: bold;
    border-radius: 15px;
    height: 80%; 
    width: 80%; 
    color: #006982;
    border: none; 
    outline: none; 
}

input:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#start-test{
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    padding: 12px;
    border-radius: 50px;
    background-color: #a6ba1f;
}
/* -----------------Gestion du defilement de texte------------------- */

/* Container de défilement de texte */
.scrolling-text-container {
    display: flex;
    padding-bottom: 6px;
    overflow: hidden;
    white-space: nowrap;
    background: #006982;
    border-top: 12px ridge #a6ba1f;
    border-bottom: 12px ridge #a6ba1f;
    position: relative;
    text-shadow: 2px 2px 2px rgba(66, 66, 66, 0.869);
}
/* Texte défilant*/
.scrolling-text {
    display: inline-block;
    animation: scrollText 60s linear infinite; /* Adjusted animation duration */
    font-size: 24px; /* Adjusted font size for better readability */
    color: beige;
}
/* Couleur du text defilant mis entre balise strong*/
.scrolling-text strong {
    color: #a6ba1f;
}
/* Animation de défilement de texte*/
@keyframes scrollText {
    0% {
        transform: translateX(10%); /* Adjusted starting position */
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Gestion du defilement des nuages*/

.defilement-cloud{
    margin-top: 40px;
    display: grid;
    grid-template-rows: auto;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    overflow:hidden;
    height:fit-content;
}

/* les differents nuages" */
  .cloud {
    width: 120px;
    position: relative;
    left: -50px;
    top: 15px;
    animation: slide 200s linear infinite;
    margin-bottom: 20px;

  }

  .cloud1 {
    width: 90px;
    position: relative;
    animation: slide 170s linear infinite;
    left: -150px;
  }
  .cloud3 {
    width: 110px;
    position: relative;
    animation: slide 140s linear infinite ;
    animation-delay: 6s;
    top: 15px;
    left: -80px;
    
}
  
.cloud4 {
    width: 120px;
    position: relative;
    animation: slide 180s linear infinite ;
    animation-delay: 2s;
    left: -100px;
    top: 25px;
    margin-bottom: 10px;
}
.cloud5 {
    width: 100px;
    position: relative;
    animation: slide 130s linear infinite ;
    animation-delay: 0s;
    left: -100px;

}