body {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.form{   
    width: 500px;
    height: 440px;
    background: #6886b096;
    background-size: cover;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 168px;
    margin-bottom: 40px;
    display: grid;
    grid-template-rows:1fr 1fr 1fr 5fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.form input{
    border-radius: 5px;
    font-size: 3vh;
    background-color: #c2c1c1d4;
    padding: 3px;
    margin: 0 auto;
    
}
.entete, .footer {
    width: 100%;
    height: 120px;
    background:url(4884837.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 185px 120px 1fr  ;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    
}
.footer{

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;

}
.myname {
    font-weight: bold;
    font-size: 29px;
    margin-left: 6px;
    font-family: 'Dela Gothic One', cursive;
    color: aliceblue;
}

.myname1 {
    font-weight: bold;
    font-size: 29px;
    margin-left: 6px;
    font-family: 'Dela Gothic One', cursive;
    color: red;
}
.navigation{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.item-entete {
    height: 35px;
    width: 150px;
    background: rgb(138, 202, 191);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px 0px 7px 0px;
    font-family: 'Dela Gothic One', cursive;
    cursor: pointer;
    color: rgb(72, 72, 72);
    margin-left: 22px;
    box-shadow: 0 20px 40px rgba(0,0,0.5);

}

/* -------------------------------------------------------------------------------- */

.menu-nav{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    height: 100PX;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;

}

a{
    display: flex;
    position: relative;
    transform: translate(-50,-50%);
    color: #1670f0;
    text-shadow: 0 1px 2px rgb(156, 250, 247);
    font-family: 'Oxanium', cursive;
    font-weight: bold;
    height: 50%;
    width: 80%;
    font-size: 4vh;
    letter-spacing: 2px;
    text-decoration: none;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    border-radius: 5px 5px 5px 5px;
}
a:hover{
    transform: scale(1.2);
    transition: 0.6s;
}

a:hover span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right,#0c002b,#1779ff);
    animation: animate1 linear 2s infinite;
}
a:hover span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom,#0c002b,#1779ff);
    animation: animate2 linear 2s infinite;
    animation-delay: 1s;
}

a:hover span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left,#0c002b,#1779ff);
    animation: animate3 linear 2s infinite;
}

a:hover span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top,#0c002b,#1779ff);
    animation: animate4 linear 2s infinite;
    animation-delay: 1s;
}




@keyframes animate1{
    
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

@keyframes animate2{
    
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}


@keyframes animate3{
    
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes animate4{
    
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}

/* -------------------------------------------------------------------------------- */

.item-entete:hover {
    transform: scale(1.15);
    transition: 0.8s;
    background: rgb(132, 210, 197);
    color: rgb(45, 44, 44);
    border-radius: 0px 7px 0px 7px;
}

/* ---------------- ---- ------ Styles pour le menu burger ---------- -------- ---------- */
.menu-burger {
    display: none; 
    cursor: pointer;
    border: 2PX solid black;
    border-radius: 10PX;
    padding: 3PX;
    color: #fff;
}

.menu-burger .barre {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
}
.menu {
    display: flex;
    justify-content: space-around;
}
/* Style pour afficher le menu lorsque la classe 'active' est présente */
.menu.active {
    display: block;
}

.menu-burger:active {
    display:none;

}





@media screen and (max-width: 768px) {
    .menu {
        display: none; 
    }

    .menu-burger {
        display: block; 
    }

    .menu-burger.active .barre:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .menu-burger.active .barre:nth-child(2) {
        opacity: 0;
    }
    
    .menu-burger.active .barre:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

/* ---------------- ---- ------ --------------- ---------- -------- ---------- */


.content {
    display: grid;
    grid-template-columns: 320px 1fr 650px ;
    height: 400px;
    width: 100%;
    background: transparent;
    background-size:contain;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    
}


.vide{
    margin: 0 auto;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    align-items: center;
    justify-content: center;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;;
}
.image img{
    width: 50%;
}
.myphoto 
{
    border-radius: 50%;
}
.content-text{
    display: flex;
    align-items: center;
    text-align: center;
    width: 85%;
    height: 90%;
    background-color: rgba(222, 222, 222, 0.792);
    border-radius: 100PX 10PX 100PX 10PX;
    font-size: 4.5vh;
    padding: 3px;
    font-family: 'Permanent Marker', cursive;
    box-shadow: 3px 3px 8px  gray;
    color: #2a2a2a;

}
.container-free-text{
    overflow: hidden; /* Cache les éléments en dehors de la zone visible */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Handlee', cursive;
}
.free-text
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    height: 65%;
    font-size: 7.5vh;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: #c2c1c1;
}
.appear-word
{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Initialise l'opacité à 0 pour cacher les éléments */
    transform: scale(0.7); /* Initialise l'échelle à 0.8 pour l'effet de zoom initial */
    transition: opacity 1.1s ease-in-out, transform 1.1s ease-in-out;
}
.appear {
    opacity: 1; /* Lorsqu'une classe 'appear' est ajoutée, l'opacité est de 1 */
    transform: scale(1.03); /* Lorsqu'une classe 'appear' est ajoutée, l'échelle est de 1 (effet de zoom) */
}
.content-tools{
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 80%;

    justify-content: center;
    align-items: center;
}

.tools-text{
    width: 100%;
    height: 60%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 110px 10px 110px 10px;
    font-size: 20px;
    background-color: rgba(108, 171, 193, 0.792);
    padding: 12px;
    font-family: 'Permanent Marker', cursive;
    box-shadow: 3px 3px 8px  gray;
    font-size: 3vh;
    color: #333;
}

.myphoto{

    width: 85%;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.myphoto:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.menu{
    
    background:url(4884837.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

}
.menu2{
    margin-top: 0px;
    grid-template-columns: 1fr;
}

.content img {
    max-width: 100%; 
    height: auto;

    margin-left: 12px;
} 
/* -----------------         ------------------------*/
.appimg {

    margin-right: 12px;
    opacity: 0;
    animation: apparitionImage 4s ease-in-out forwards; 
}

@keyframes apparitionImage {
    0% {
        opacity: 0; 
        max-width: 0; 
    }
    100% {
        opacity: 1; 
        max-width: 600px; 
    }
}

/* -------------------         ----------------------*/
.container-text-apparition {
    height: 90%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
}

.texte {
    position: relative;
    font-family: 'Dela Gothic One', cursive;
    font-size: 6vh;
    left: 100%;
    animation: apparitionDroite2 1s forwards;
    color: rgb(230, 230, 230);
}

.texte1 {
    position: relative;
    font-family: 'Dela Gothic One', cursive;
    font-size: 6vh;
    left: 100%;
    animation: apparitionDroite 2s forwards;
    color: rgb(230, 230, 230);
}

.texte2 {
    position: relative;
    font-family: 'Dela Gothic One', cursive;
    font-size: 6vh;
    left: 100%;
    animation: apparitionDroite2 3s forwards;
    color: rgb(230, 230, 230);
}

@keyframes apparitionDroite {
    from {
        left: 100%;
    }
    to {
        left: 15px;
    }
}

@keyframes apparitionDroite2 {
    from {
        left: 100%;
    }
    to {
        left: -25px;
    }
}


@media screen and (max-width: 768px) {

    .item-entete {
        height: 30px;
        width: 120px;
        font-size: 14px;
    }



    .content img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .texte,
    .texte1,
    .texte2 {
        font-size: 18px;
    }
}

#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
    



