*{
    font-family: 'Borel', cursive;
    font-family: 'Preahvihear', sans-serif;

}

body{
    text-align: center;
    font-family: 'Borel', cursive;
    font-family: 'Preahvihear', sans-serif;
    background-color: rgb(222, 247, 239);

}

body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(205, 205, 205); /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(89, 134, 186); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid rgb(144, 184, 206); /* creates padding around scroll thumb */
  }

header {
    display: grid;
    grid-template-columns: 2px 1fr;
    grid-template-rows: 90px 40px;
    align-items: center;
    justify-content: center;
    max-width: 1600PX;
    min-width: 320PX;
    width: auto;
    height: 200px;
    background-color: rgba(215, 216, 216, 0.747);
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow: 6px 4px 6px 2px rgb(199, 199, 199);
    text-align: center;
    font-size: 36PX;
    color: rgb(61, 81, 110);
    text-shadow: 0PX 3PX 4PX rgb(66, 118, 179);
    margin-top: 20PX;
    margin-bottom: 40px;
    overflow: hidden;
    font-size: 36px; /* Utilisation de vw pour la taille de police */
    transition: font-size 0.6s ease;
}

.titre h1, .titre h3 {
    margin: 0px;
    padding: 0px;
    
}
.titre h1{
    margin-top: 85px;
}
.titre{
    margin-left: 10px;
    min-width: 420px;
}





header img{
    width: 190PX;
    margin-top: 130PX;
    margin-left: 4px;
    min-width: 60px;
    transition: 3s;
    

}
h3{
    
    min-width: 320px;
    font-size: 30px; /* Utilisation de vw pour la taille de police */
    transition: font-size 0.6s ease;


}
@media (max-width: 930px) {
    header {
        font-size: 36px; /* La taille de police reste inchangée entre 500px et 930px */
        
    }

    h3 {
        font-size: 30px; /* La taille de police reste inchangée entre 500px et 930px */
    }
 
}
@media (max-width: 770px) {
    header {
        font-size: 26px; /* Vous pouvez ajuster cette taille en fonction de vos besoins */
        
    }

    h3 {
        font-size: 20px; /* Vous pouvez ajuster cette taille en fonction de vos besoins */
    }
    .prod
    {
        font-size: 32px;
    }

}

@media (max-width: 650px) {
    header {
        font-size: 26px; /* Vous pouvez ajuster cette taille en fonction de vos besoins */
        
    }

    h3 {
        font-size: 20px; /* Vous pouvez ajuster cette taille en fonction de vos besoins */
    }
    .prod
    {
        font-size: 32px;
    }
    header img{
        display: none;
        
        
    
    }

   
}







main{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1600PX;
    min-width: 320PX;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    justify-items: center;

}

.zoneCreateObject{
    grid-template-columns: 1fr 1fr 1fr; 
    align-items: center; 
    justify-content: center; 
    overflow: hidden;
    height: 315px;

}

.zoneCreateObject img {

    width: AUTO;
    height: 70%;
    
}

.imgright{

    margin-left: 80px;

}

.imgleft{
    margin-right: 80px;
}
h2{
    display: flex;
    height: 40px;
    max-width: 1600PX;
    min-width: 320PX;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    color: rgb(87, 87, 87);
    text-shadow: 0PX 3PX 4PX rgb(114, 114, 114);
    font-size: 39px;
    box-shadow: 6px 4px 6px 2px rgb(199, 199, 199);
    border: 1px solid rgb(199, 199, 199);
    border-radius: 15px;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition: font-size 0.2s ease;
}
.in i{
    font-size: 78px;
    text-shadow: 12px 12px 12px rgb(114, 113, 113);
    font-weight: bolder;
}
.in{
    background-color: rgb(79, 226, 145);
    color: antiquewhite;
    
}

.prod{
    background-color: rgb(221, 161, 77);
    color: antiquewhite;
}

.out i, .prod i{
    font-size: 78px;
    text-shadow: 12px 12px 12px rgb(114, 113, 113);
    font-weight: bolder;
}
.out{
    background-color: brown;
    color: antiquewhite;
}

#container, #containerComponent, #containerPf, .fabrication
{
    display: grid;
    grid-template-rows: 50PX repeat(auto-fill, minmax(25px, 1fr));
    grid-template-columns: auto;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 15px;
    width: 300PX;
    max-height: 300px;

    height: auto;
    background-color: rgba(215, 216, 216, 0.747);
    box-shadow: 6px 4px 6px 2px rgb(199, 199, 199);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-y: auto;
    margin-bottom: 12px;
    padding-bottom: 4px;
    
    



}

#containerComponent{

    grid-template-rows: 50PX repeat(auto-fill, minmax(29px, 1fr));

}

.fabrication
{
    grid-template-columns:1fr 1fr 1fr;
}

#container::-webkit-scrollbar, #containerComponent::-webkit-scrollbar, #containerPf::-webkit-scrollbar, .fabrication::-webkit-scrollbar {
    width: 8px; /* width of the entire scrollbar */
    border-radius: 50px;
    
  }
  
  #container::-webkit-scrollbar, #containerComponent::-webkit-scrollbar, #containerPf::-webkit-scrollbar, .fabrication::-webkit-scrollbar-track {
    background: rgb(205, 205, 205); /* color of the tracking area */
    
  }
  
  #container::-webkit-scrollbar, #containerComponent::-webkit-scrollbar, #containerPf::-webkit-scrollbar, .fabrication::-webkit-scrollbar-thumb {
    background-color: rgb(226, 226, 226); /* color of the scroll thumb */
    border-radius: 100px; /* roundness of the scroll thumb */
    border: 2px solid rgb(144, 184, 206); /* creates padding around scroll thumb */
    
  }



.enteteCard
{
    width: 300px;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    height: 50px;
}

.enteteCard input
{


border: 2px solid rgb(201, 199, 199);
margin-bottom: 10px;
background-color: rgb(214, 231, 245);

}

.enteteCard h1{
    display: flex;
    align-items: center;
    height: 24px;

}

h1 input{
margin-left: auto;
margin-right: auto;
height: 24px;
background-color: rgb(225, 225, 225);
}

input{
    height: 19px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 01px solid rgb(168, 168, 168);
    outline: none;
    width: 180px;
    box-shadow: 6px 4px 6px 2px rgb(199, 199, 199);
}

.btnAddComposant , .btnAddComponent, .btnAddPf
{
    margin-left: 12px;
    margin-top: 8px;
}



button:hover
{
    height: 30px;
    width: 40px;
    border-radius: 10px;
    background-color: rgb(64, 175, 64);
    border: none;
    box-shadow: 3px 2px 3px 1px rgb(199, 199, 199);
    color: white;


}

a{
    font-size: 26px;
    font-weight: bolder;
}



.small, .validation ,.validationComponent, .validationPf{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: rgba(127, 255, 212, 0);
    font-weight: bolder;
    font-size: 42px;
    box-shadow: none;
    color: green;
    justify-content: left;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; 
    
}

.validation ,.validationComponent, .validationPf
{
    font-size: 30px;
    margin-top: 6px;
}

.small:hover, .validation:hover, .validationComponent:hover, .validationPf:hover{
    width: 40px;
    height: 40px;
    background-color: rgba(127, 255, 212, 0);
    font-weight: bolder;
    box-shadow: none;
    color: rgb(103, 172, 103);
}

.inputqteCondi
{
    width: 50PX;
    margin-left: 12PX;
}

.valider{

    height: 30px;
    width: 40px;
    border-radius: 10px;
    background-color: rgb(64, 175, 64);
    margin-bottom: 12px;
    margin-left: 12px;
    border: none;
    box-shadow: 3px 2px 3px 1px rgb(199, 199, 199);
    color: white;

}

#affichageObjetsStockés, #affichageComposés, #affichagePf{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px,1fr)); 
    max-width: 1600px;
    width: 100%;
    height: auto;
    justify-content: center; 
    margin-right: auto;
    margin-left: auto;
}

.objet , .composé{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px repeat(10,23px);
    overflow: hidden;
    background: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 8px;
    font-size: 16px;
    box-shadow: 3px 2px 3px 1px rgb(199, 199, 199);
    margin-bottom: 8px;
    border: 2px solid rgb(173, 173, 173);
    border-radius: 15px;
    width: 230px;
    height: 257PX;
    min-height: 202px;
    text-align: center;
    align-items: center;
}

div p{

    margin-right: auto;
    margin-left: auto;

}

.item-info
{
    background-color: rgb(206, 207, 207);
    height: 30px;
    width: 230px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.nom-composant{


    font-weight: bolder;
    margin-bottom: 6px;
    background-color: rgb(175, 240, 202);
    height: 70px;
    font-size: 30px;
    display: flex; 
    align-items: center; 
    justify-content: center; 

}
.nom-composé {
    background-color: rgb(216, 200, 131);
    font-weight: bolder;
    margin-bottom: 6px;
    height: 70px;
    font-size: 30px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.valeur{
    width: 30px;
    height: 21px;
    font-size: 12px;
    border-radius: 10px;
    background-color: whitesmoke;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-left: 2px;
    box-shadow: 6px 4px 6px 2px rgb(199, 199, 199);
    margin-top: 2px;
    border: 01px solid rgb(168, 168, 168);
}

.deroulant{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 30px;
    
}

.infoComponent
{
    display: grid;
    grid-template-columns: 220px 1fr ;
    justify-content: center;
    align-items: center;

}
.itemComponent{
    display: flex;
    justify-content:center ;
    align-items: center;

}

select{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-left: 16px;
    height: 26px;
    width: 180px;
    box-shadow: 6px 4px 6px 2px rgb(199, 199, 199);
    outline: none;
    color: rgb(73, 73, 73);
}
.composé
{
    margin-left: auto;
    margin-right: auto;
}

footer{
    height: 45px;
   max-width: 1600px;
   background-color: rgba(90, 167, 125, 0.901);
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 320PX;
   margin-top: 24PX;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 6PX;
   border-radius: 0PX 0PX 100PX 100PX;
   box-shadow: 6px 4px 6px 2px rgb(199, 199, 199);
}